th {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.table {
  border: 1px black solid;
}

.contact-container {
  background-color: #3e4851;
  text-align: center;
  font-size: calc(10px + 2vmin);
  padding: 7px;
}

.contact-container h3 {
  color: white;
  text-decoration: underline;
}

.contact-container p {
  color: white;
}
